<!-- <nav class="row justify-content-center navbar navbar-expand-lg navbar-dark" style="background-color: #f8f5f5f8">
    <a class="navbar-brand" href="#">
        <img class="img-fluid" width="45px" src="../../assets/img/logo.png" alt="">
    </a>
</nav> -->

<div class="container">
    <div *ngIf="mostrarLogin" class="row mt-5 justify-content-center">
        <div class="col-10 col-sm-10 col-md-6 col-lg-4 borde">
            <p class="lead text-center">Iniciar Sesión</p>

            <!--Redes sociales-->
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <button (click)="tareasService.loginGoogle()" type="button" class="btn btn-primary mb-1"><i class="fab fa-google"></i></button>
                </li>
                <!-- <li class="list-inline-item">
                    <button type="button" class="btn btn-primary mb-1"><i class="fab fa-twitter"></i></button>
                </li> -->
            </ul>

            <form #forma="ngForm" (ngSubmit)="ingresarCorreo(forma)">
                <div class="form-group">
                    <input ngModel name="correo" type="email" class="form-control" placeholder="Correo">
                </div>

                <div class="form-group">
                    <input ngModel name="contrasenia" type="password" class="form-control" placeholder="Contraseña">
                </div>

                <div class="form-group form-check">
                    <input name="recordar" type="checkbox" class="form-check-input">
                    <label class="form-text text-muted">Recordarme</label>
                </div>


                <button type="submit" class="btn btn-outline-primary btn-sm mb-2">Ingresar</button>

            </form>
            <small (click)="mostrarLogin = !mostrarLogin" class="form-text text-muted cambiarInicio mb-3">¿No tienes una cuenta? Registrate aquí</small>
        </div>
    </div>




    <!--REGISTRO-->
    <div *ngIf="!mostrarLogin" class="row mt-5 justify-content-center">
        <div class="col-10 col-sm-10 col-md-6 col-lg-4 borde">
            <p class="lead text-center">Registrate</p>
            <form #formaRegistro="ngForm" (ngSubmit)="registrarCorreo(formaRegistro)">

                <div class="form-group">
                    <input ngModel type="text" class="form-control" placeholder="Nombre" name="nombre">
                </div>

                <div class="form-group">
                    <input ngModel type="email" class="form-control" placeholder="Correo Electronico" name="correo">
                </div>

                <div class="form-group">
                    <input ngModel type="password" class="form-control" placeholder="Contraseña" name="contrasenia">
                </div>


                <button type="submit" class="btn btn-outline-primary btn-sm mb-2">Registrar</button>
            </form>
            <small (click)="mostrarLogin = !mostrarLogin" class="form-text text-muted cambiarInicio mb-2">¿Si ya tienes una cuenta, inicia sesión aquí!</small>
        </div>
    </div>
</div>