/* You can add global styles to this file, and also import other style files */

.borde {
    border: 1px solid rgb(206, 203, 203);
    padding: 20px;
}

.cambiarInicio {
    cursor: pointer;
    font-style: italic;
}